{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block style %} 
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/home.css' %}">
{% endblock %}
{% block body %}class="dark" data-spy="scroll" data-target=".navbar" data-offset="50"class="dark" data-spy="scroll" data-target=".navbar" data-offset="50"{% endblock %}
{% block content %}
	<br><br>
	<div class="container">
		<nav class="navbar navbar-expand-sm  navbar-dark ">
			<a class="navbar-brand mx-auto" href="#CorpoCH"><img class="rounded-circle" src="{% static 'mainapp/images/corpo.png' %}"><span> Corpo Clone Hero Bot</span></a>
			<!--
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<button id="mode" type="submit" class="btn btn-dark btn-lg ml-auto"><span class=""></span>LightMode</button>
			</div>
			-->
		</nav> 
	</div>
	<div class="container" style="padding-top: 3vh;">
		<div class="jumbotron">
			<h1><strong id="Corpo">Corpo</strong></h1>
			<div id="Corpo">
				<h4>Corpo</h4>
				<p> Corpo is a Clone Hero tournament organizier tool used to assist with a lot of tasks involved in running one.

				This page will eventually have more information from Tournaments past and on-going.</p>
			</div>
			<div id="Bot">
				<h4>Corpo Bot</h4>
				<blockquote cite="https://discord.com/oauth2/authorize?client_id=1381816611086012456">
					<a href="https://discord.com/oauth2/authorize?client_id=1381816611086012456" target="_blank">The Corpo Discord Bot</a> is a component of Corpo that handles matches, qualifiers, screenshot collection, and CHOpt/Hydra path generation. 
				</blockquote>
				<h6>/qualifier</h6>
				<p>Provides information on a running qualifier for a Discord Guild (Download links, forms, etc). Allows for submitting a qualifier screenshot to enter a tournament, and shows previous submissions.</p>
				<h6>/ch path</h6>
				<p>Will generate a <a href="https://github.com/GenericMadScientist/CHOpt">CHOpt</a> or <a href="https://github.com/DragonDelgar/hydra">Hydra</a> (for Drums) path for either a chart listed on <a href="https://www.enchor.us/">Encore</a> or from a tournament's setlist (only ones the bot has ran for now)</p>
				<h6>CH Steg</h6>
				<p>This command can be ran by right clicking a discord message, selecting "Apps" and then this command. If the discord message has a valid Clone Hero in-game screenshot attached to it, a readout of the play stats will be sent to the channel.</p>
				<h6>Discord User Installation</h6>
				<p>In the link above to install the bot, if you select "User Install", this will make the /ch path and "CH Steg" available in other servers/channels/DMs.
			</div><a href="/privterms">CHOpt</a>
			<div id=Terms>

			</div>
			<div id="About">
				<h4>About</h4>
				<p>Corpo is a passion project made by competitive Clone Hero players for everyone. It's primary aim is to make data on CH tournaments easily available.</p>
				<p>It will always remain open-source, free to use, and collect as little information as possible.</p>
				<p>For now, this is just a basic landing page. More to come. Questions, please reach out to @jetsurf on Discord.</p>
			</div>	
		</div>	
		<div id="Auth"><span><br></span>
			{% if discord_login_error %}<p role="alert">{{ discord_login_error }}</p>{% endif %}
			<a href="{% url 'discord_auth_start' %}" class="btn btn-lg shadow-none">Discord Login</a>
		</div>	
	</div>
{% endblock %}
{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'mainapp/bootstrap/js/bootstrap.min.js' %}"></script>
<script>
	$(document).ready(() =>{
		$(".navbar-brand").click(function(){
			$('html, body').animate({
				scrollTop: $($(this).attr("href")).offset().top
			}, 1000);
		});
	});
</script>
{% endblock %}
</body>
</html>
